/* You can add global styles to this file, and also import other style files */
@import url('https://design.harris.com/dist/v1.0/css/default/default.min.css');

// Colors
$harris-red: #e21d22;
$harris-grey: #74767b;
$danger: #D93B42;
$warning: #F99F3C;
$info: #009cde;
$success: #6db444;

$breakpoint-xs: '575px';
$breakpoint-md: '768px';
$breakpoint-lg: '960px';
$breakpoint-xl: '1140px';

body {
    background-color: white;

    .fa.fa-lg {
        font-size: 1.33333em;
    }
}

.click-element {
    cursor: pointer;
}


.reset-line-height {
    line-height: 1 !important;
}

.form-control.invalid~.invalid-feedback {
    display: block;
}

input.disabled-input {
    border-bottom: none !important;
    color: rgba(black, .38);
}

.input-group .calendar-picker-icon {
    font-size: 1.3rem;
    padding-top: 7px;
}

[type="checkbox"][class*="filled-in"]:not(:checked)+label:after ,
[type="checkbox"][class*="filled-in"]:checked+label:after {
   top: 2px 
}

.loading {
    position: relative;
    
    &:before {
        background: rgba(white, .9);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 599;
    }

    &:after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-top: -30px;
        margin-left: -25px;
        border-radius: 50%;
        border: 1px solid #ccc;
        border-top-color: $harris-red;
        animation: spinner .6s linear infinite;
        z-index: 600;
    }
}

body.loading {
    height: 100vh;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.navbar {
    #alert-notifications {
        #app-alerts {
            color: $harris-grey;
            position: relative;
        
            i {
                font-size: 1.5rem;

                @media screen and (min-width: $breakpoint-md) {
                    font-size: 1.9rem;
                }
            }
        
            .badge {
                font-size: .6em;
                line-height: 1.3;
                position: absolute;
                right: .25rem;
                top: 5px;

                @media screen and (min-width: $breakpoint-md) {
                    right: .5rem;
                }
            }
        }

        &.dropdown .dropdown-menu .dropdown-item {
            &:hover {
                background-color: #f8f9fa !important;
                color: #16181b !important;
                text-decoration: none;
            }

            i {
                font-size: 1.2rem;
            }
        }

    }
}

#alert-container {
    padding: 0 .7rem 0 .7rem;

    .alert {
        margin: .5rem 0 0 0;

        &:last-child {
            margin-bottom: .5rem;
        }
    }

    @media screen and (min-width: 1200px) {
        padding-left: 255px;
    }
}

.side-nav {
    .nav-container {
        position: absolute;
        width: 100%;
        height: calc(100% - 120px);
        overflow: auto;

        a {
            height: auto;
            line-height: inherit;
        }
    
        .user-menu {
            padding: 1rem 20px;

            a {
                color: black !important;
                display: inline-block;
                height: auto;
                line-height: .8;
    
                img {
                    max-height: 32px;
                }
            }
    
            .user-menu-dropdown {
                font-size: .8rem;
    
                .dropdown-item {
                    font-size: .9rem;
    
                    i {
                        margin-right: 1rem;
                    }
                }
    
                .list-group-item {
                    padding: 5px 10px;
                }
            }
        }
        .nav {
            .nav-item {
                .nav-link {
                   color: black;
                   font-weight: 700;
                   padding: .8rem 1rem;
    
                   .fa.left-icon {
                       color: $harris-grey;
                       float: none;
                   }
    
                }
    
                &.active {
                    .nav-link {
                        color: $harris-red;
                    }
                }
    
                .nav .nav-item .nav-link {
                    color: $harris-grey;
                    font-weight: 400;
                    margin-left: 3rem;
                }
            }
        }
    }

    .harris-logo-wrapper {
        bottom: 10px;
        height: 100px;
        left: 0;
        padding: 0 3rem;
        position: absolute;
        width: 100%;

        img {
            height: auto;
        }
    }
}

.form-dark .md-form {
    label,
    input,
    .dropdown-toggle:after {
        color: white;
    }
}

#filter-wrapper {
    background-color: #f2f0f0;

    .filter-button {
        padding: .5rem 1rem;
        height: 30px;
        line-height: 1.4;

        .badge {
            padding: 3px 5px;
            line-height: 1.2;
        }
    }

    #show-future+label {
        padding-left: 25px; 
     }
    
}

table.table.timecard-list {
    width: calc(100% - 3px);
    img {
        max-height: 40px;
    }
    th {
        border: none;
        color: $harris-grey;
        padding: 0 10px;
        vertical-align: bottom;

        .col-sort-direction {
            display: none
        }

        &.sorted {
            .col-sort-direction {
                display: inline;
            }
        }

        &.not-sortable {
            cursor: default;
        }
    }

    tr {
        cursor: pointer;
    }

    td {
        border: 1px solid lightgrey;
        padding: 10px;
        vertical-align: middle;

        &.status {
            border-right: 6px solid lightgrey;
            &.approved {
                border-right: 6px solid #6db444;
            }
            &.open {
                border-right: 6px solid #F99F3C;
            }
        }
    }
}

#utility-bar {
    background: $harris-red;
    color: white;

    #emplid-search-wrapper {
        flex: 1 1 auto;
        position: relative;
        width: 1%;
    }

    .available-employees {
        max-height: 250px;
        overflow-y: auto;
    }

    .utility-bar-text {
        font-size: 1rem;
        line-height: 1.8;
        margin-bottom: 0;

        @media screen and (min-width: $breakpoint-lg) {
            font-size: 1.25rem;
        }
    }

    .tabs-wrapper .classic-tabs {
            margin-bottom: -.5rem;
    }

    .notes-link {
        .badge {
            color: $harris-red !important;
            float: right;
            margin-top: 2px;
            padding-left: .4em;
        }
    }

    .approver-search {
        #manager-mode-wrapper {
            .md-form {
                margin-top: .5rem;
                text-align: center;

                .lever {
                    margin-bottom: .5rem;
                }
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            #manager-mode-wrapper {
                .md-form {
                    margin-top: 0;
                }
            }

            #search-btn-wrapper {
                button {
                    margin-top: 0 !important;
                }
            }
        }

        @media screen and (min-width: 1440px) {
            #manager-mode-wrapper {
                .md-form {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

#refresh-list {
    position: absolute;
    right: 1rem;
}

.status-filter-list, .name-filter-list {
    max-height: 300px;
    overflow-y: auto;
}

#mini-dashboard {
    background: #f2f0f0;

    .card {
        min-width: 100px;

        .min-chart {
            height: 75px;
            width: 100%;

            canvas {
                margin: auto;
                right: 0;

                @media screen and (max-width: $breakpoint-md) {
                    display: none;       
                }
            }
        }

        .fy {
            display: block;
            position: absolute;
            width: calc(100% - 20px);
        }
        

        .hours {
            display: inline-block;
        }

        .holiday-calendar {
            background: url('images/holiday-cal.png') no-repeat center center;
            background-size: cover;
 
            a {
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            h2 {
                white-space: nowrap;
            }
        }

        .card-body .col {
            padding: 0 10px;
        }
    }
}

#timecard-body {
    background: white;
    overflow-y: auto;

    &.mobile-daily {
        background: #f2f0f0;

        .timecard-list-view input {
            font-size: 1rem;
        }
    }

    #tc-settings {
        color: $harris-grey;
        position: relative;
    
        i {
            font-size: 1.5rem;
        }
    }

    .tc-status-label {
        color: #616264; 
        font-weight: bold;
    }

    .tc-status {
        line-height: .3;
        padding: 8px 5px 8px 5px;
        text-transform: uppercase;
        height: 19px;
        vertical-align: middle;
    
        &.pending {
            background-color: $info;
        }
        &.approved {
            background-color: #6db444;
        }
        &.open {
            background-color: #F99F3C;
        }
    }

    table.table.timecard-view {

        col {
            &.current-day {
                border: 2px solid $info;
            }
            &[class*="tc-error"] {
                border: 2px solid;
                position: relative;
                z-index: 9999;
            }

            &.tc-error {
                &-danger {
                    border-color: $danger !important;
                }

                &-warning {
                    border-color: $warning !important;
                }

                &-info {
                    border-color: $info !important;
                }
            }
        }

        tbody:nth-child(even) {
            background-color: #f2f0f0;
        }

        tr {

            &.row-is-read-only,
            &.row-is-read-only input {
                color: rgba(black, .38);
            }

            &.row-delete-pending {
                td,
                td input {
                    text-decoration: line-through;
                    color: red;
                }
            }

            &.daily-totals {
                background: $harris-grey;
            }

            &[class*="tc-error"] {
                border: 1px solid;
                position: relative;
            }

            &.tc-error {
                &-danger {
                    border-color: $danger !important;

                    td,
                    td input {
                        color: $danger !important;
                    }

                    &-message {
                        background: $danger;
                        border-color: $danger !important;
                    }
                }

                &-warning {
                    border-color: $warning !important;

                    td,
                    td input {
                        color: $warning !important;
                    }

                    &-message {
                        background: $warning;
                        border-color: $warning !important;
                    }
                }

                &-info {
                    border-color: $info !important;

                    td,
                    td input {
                        color: $info !important;
                    }

                    &-message {
                        background: $info;
                        border-color: $info !important;
                    }
                }

                &-danger,
                &-info,
                &-warning {
                    &-message {
                        td {
                            color: white;
                            font-size: 70%;
                            padding: 5px 5px 5px 1.5rem;

                            i {
                                margin-left: -1.1rem;
                            }
                        }
                    }
                }
            }

            th {
                border: none;
                color: $harris-grey;
                line-height: 1;
                vertical-align: middle;
    
                @media screen and (max-width: $breakpoint-md) {
                    font-size: .58rem !important;
                    min-width: 1.55rem;
                    padding: 2px;
                }

                &.display-error {
                    position: relative;
                }

            }
        
            td {
                border: 1px solid lightgrey;
                font-size: .7rem;
                padding: 2px 0;
                position: relative;
                vertical-align: middle;

                &:first-child {
                    max-width: 100px;
                }
    
                @media screen and (min-width: $breakpoint-lg) {
                    font-size: 1rem;
                    padding: 10px 0;

                    &:first-child {
                        max-width: none;
                    }
                }

                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                }
    
                .row-action {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
        
                .row-title {
                    font-weight: bold;
                    line-height: 1;
                }
        
                .row-description {
                    font-size: .5rem;
                    line-height: 1;
        
                    @media screen and (min-width: $breakpoint-md) {
                        font-size: .7rem !important;
                    }
                }
        
                .remove-row {
                    float: left;
                    margin-right: 10px;
                    padding: 7px 0;
                }
        
                input {
                    background-color: transparent !important;
                    border: none;
                    font-size: 1rem;
                    font-weight: bold;
                    margin-left: -2px;
                    padding: 0 !important;
                    text-align: center;
                    transform: scale(.79);
                    width: 110%;

                    @media screen and (min-width: $breakpoint-md) {
                        margin-left: 0px;
                        transform: scale(1);
                        width: 100%;
                    }

                    &:focus {
                        box-shadow: 0px 0px 3px $harris-grey;
                    }
                }
            }
        }

        .display-column-error {
            background-color: white;
            color: $danger;
            font-size: 1rem;
            position: absolute;
            top: -9px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .lc-changed {
            background-color: #FFFFE0;
            color: black;
        }

        .lc-row-added {
            background-color: rgba($success, .5);

            td:first-child {
                padding-right: 15px;
            }
        }

        .lc-row-deleted {
            background-color: rgba($danger, .5);

            td {
                text-decoration: line-through;
                &:first-child {
                    padding-right: 15px;
                }
            }
        }

        .lc-row-status {
            color: white;
            font-size: .5rem;
            height: 100%;
            min-width: 16px;
            padding: 3px;
            position: absolute;
            opacity: .7;
            right: 0;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);

            i {
                left: 5px;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    
        &.disabled tbody,
        &.disabled tbody input {
            background-color: #f2f0f0;
            color: rgba(black, .38);
            
        }
    }
    
    .timecard-list-view {
        .row-title {
            font-weight: bold;
        }
    
        .row-description {
            font-size: .8rem;
            line-height: 1;
    
            @media screen and (max-width: $breakpoint-md) {
                font-size: .5rem !important;
            }
        }

        .input-hours {
            label.active {
                font-size: .7rem;
                text-align: center;
                width: 100%;
            }
        }

        .tc-error {
            &-danger {
                border-color: $danger !important;

                div.col-auto,
                label,
                input {
                    color: $danger !important;
                }

                &-message {
                    background: $danger;
                    border-color: $danger !important;
                }
            }

            &-warning {
                border-color: $warning !important;

                div.col-auto,
                label,
                input {
                    color: $warning !important;
                }

                &-message {
                    background: $warning;
                    border-color: $warning !important;
                }
            }

            &-info {
                border-color: $info !important;

                div.col-auto,
                label,
                input {
                    color: $info !important;
                }

                &-message {
                    background: $info;
                    border-color: $info !important;
                }
            }

            &-danger,
            &-info,
            &-warning {
                &-message {
                    color: white;
                    font-size: 70%;
                    margin: 10px -15px -15px;
                    padding: 5px 5px 5px 1.5rem;
                    width: calc(100% + 30px);

                    i {
                        margin-left: -1.1rem;
                    }
                }
            }
        }
    }

}

.project-list.dropdown-menu {
    max-width: 80%;
    width: 300px;

    input[type=text]:focus {
        border-bottom: 1px solid !important;
        border-color: $info !important;
        box-shadow: none !important;
    }

    label {
        color: black;
        height: auto;
        line-height: 1;
    }

    .recent-projects {
        max-height: 180px;
        overflow-y: auto;
        padding: 10px 0;

        .charge-code-status {
            background: #bdbdbd;
            display: inline-block;
            font-size: .7rem;
            color: white;
            margin: 5px 0 0 35px;
            padding: 0px 5px;
            text-transform: uppercase;
        }
    }
}

.note-container {
    height: 250px;
    overflow-y: auto;

    textarea, input {
        font-size: 1rem;
    }
}

table.table.row-delete-pending-summary {
    th {
        background: #f2f0f0;
        font-size: .8rem;
        padding-top: .1rem;
        padding-bottom: .1rem;
    }
    td {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}

#email-emp-list {
    max-height: 300px;
    overflow-y: auto;
}

#approver-search-results-wrapper {
    min-height: 255px;
    overflow-y: auto;

    #approver-search-results {
        width: 100%;
    
        thead,tbody,tr,td,th {
            display:block;
        }
        
        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        
        tbody {
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;

            tr:first-child {
                td {
                    border-top: none;
                }
            }
        }
        

        tr {
            cursor: pointer;
    
            td,
            th {
                float:left;
                font-size: .8rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
    
            &.active {
                background-color: lighten($success, 30%);
            }
        }
    }

}

#timecard-footer,
#vacation-footer {
    bottom: 0;
    left: 0;
    padding-left: 255px;
    position: fixed;
    width: 100%;
    z-index: 500;

    #messages {
        background-color: #f2f0f0;
    }

    #signature {
        label {
            padding-left: 25px;
        }
    }

    #timecardApprover {
        cursor: pointer;
    }

    #approver-dropdown {
        background-color: #FFF;
        margin-bottom: 2px;
        margin-left: -2.5rem;
    }

    @media screen and (max-width: 1200px) {
        font-size: 80%;
        padding-left: 15px;

        div[class^="col"] {
            padding-left: 10px;
            padding-right: 15px;
        }

        label {
            padding-bottom: 0;
        }

        .select-wrapper {
            padding-left: 5px;

            span.caret {
                top: 8px;
            }

            input.select-dropdown {
                font-size: .9rem;
                height: 2rem;
                line-height: 2rem;
            }
        }
    }
}

// Match MDB Select with other inputs.
#add-charge-code {
    input[type=text] {
        font-size: 1rem;
    } 
    .mdb-select {
        .caret {
            background: white;
            height: 1rem;
            top: 8px;
            display: block;
            margin-right: -15px;
            z-index: 10;
            pointer-events: none;
        }

        .select-dropdown {
            color: #495057;
            font-size: 1rem;
            height: auto;
            line-height: 1.5;
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: 200px;
            padding: .375rem 15px .5rem 0;
            -ms-overflow-style: scrollbar;
        }
    }

    .browser-default {
        border: none;
        border-bottom: 1px solid #ced4da;
        display: inline-block;
        margin-top: .1rem;
        min-width: 40px;
        max-width: 100%;
        padding: .45rem 0;
    }

    .dropdown-item.active {
        color: #16181b;
        text-decoration: none;
        background-color: #d6d6d7;
    }
}

.toast-center {
    top: 40%;
    right: 0;
    width: 100%;

    > div.toast {
        margin: 0 auto !important;

        &.toast-success {
            background-image: none !important;

            &:before {
                content: '\f058';
                font-family: fontAwesome;
                font-size: 1.5rem;
                left: 1rem;
                position: absolute;
            }
        }
    }
}

.toast {
    line-height: 1.5rem;  

    .toast-close-button {
        top: -.2rem;
    }
}

.diagnostics-column {
    position: relative;

    .diagnostics-panel {
        background: rgba(white, .9);
        padding: 10px;
        position: absolute;
        right: 0%;
        top: 100%;
        z-index: 99;
    }
}

#timecard-main {
    #mini-dashboard {    
        .card {
            height: 160px;
        }

        .hours {
            line-height: 75px;
            min-width: 75px;
        }
    }
}

.hide-for-mobile {
    @media screen and (max-width: $breakpoint-md) {
        display: none !important;
        visibility: hidden !important; 
        
        .ignore-mobile-hide & {
            display: initial !important;
            visibility: visible !important;
        }
    }
}

.mobile-only {
    @media screen and (min-width: $breakpoint-md) {
        display: none !important;
        visibility: hidden !important;       
    }
}

// Additional sass files.
@import 'calendar';
@import 'vacation-request'