/* You can add global styles to this file, and also import other style files */

// Colors
$harris-grey: #74767b;

$breakpoint-md: '768px';

.navbar {
    #app-alerts {
        color: $harris-grey;
        position: relative;
    
        i {
            font-size: 1.9rem;
        }
    
        .badge {
            font-size: .6em;
            line-height: 1.3;
            position: absolute;
            right: 1.5rem;
            top: 0;
        }
    }
}

.side-nav {
    ul {
        &.collapsible {
            li {
                a,
                a.collapsible-header {
                    height: auto;
                    padding: 10px 20px;
                    transition-property: display;

                    &.active {
                        background-color: white;
                        border-left: 8px solid var(--red);
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}

.form-dark .md-form {
    label,
    input {
        color: white;
    }
}

table.table.timecard-list {
    width: calc(100% - 3px);
    img {
        max-height: 40px;
    }
    th {
        border: none;
        color: $harris-grey;
        padding: 0 10px;
        vertical-align: bottom;
    }

    tr {
        cursor: pointer;
    }

    td {
        border: 1px solid lightgrey;
        padding: 10px;
        vertical-align: middle;

        &.status {
            border-right: 6px solid lightgrey;
            &.approved {
                border-right: 6px solid var(--success);
            }
            &.open {
                border-right: 6px solid var(--warning);
            }
        }
    }
}

.utility-bar {
    background: var(primary);
    color: white;
}

.hide-for-mobile {
    @media screen and (max-width: $breakpoint-md) {
        display: none;       
    }
}
