#vacation-request-main {
    #utility-bar {
        .tabs-wrapper {
            min-height: 35px;

            .classic-tabs {
                bottom: 0;
                position: absolute;
            }
        }
    }
    #mini-dashboard {    
        .card {
            height: auto;
        }

        .hours {
            line-height: 50px;
            min-width: 50px;
        }
    }

    #vacation-request-list {
        th {
            border: none;
            color: $harris-grey;
            padding: 0 10px;
            vertical-align: bottom;
        }
    
        tr {
            cursor: pointer;

            th, td {
                @media screen and (max-width: $breakpoint-xs) {
                    font-size: 80%;
                }
            }
        }
    
        td {
            border: 1px solid lightgrey;
            padding: 10px;
            vertical-align: middle;

            .user-image {
                @media screen and (min-width: $breakpoint-xs) {
                    display: inline-block;
                }

                img {
                    height: 40px;
                    width: 35px;
                }
            }


            &.status {
                border-right: 6px solid lightgrey !important;

                &.approved {
                    border-right: 6px solid #6db444 !important;
                }
                &.approvalinprocess {
                    border-right: 6px solid $info !important;
                }
                &.submitted {
                    border-right: 6px solid #F99F3C !important;
                }
                &.cancelled {
                    border-right: 6px solid #616264 !important;
                }
                &.denied {
                    border-right: 6px solid $danger !important;
                }
            }

        }
    }

    #vacation-request-body {
        padding-bottom: 100px;

        #total-requested-hours {
            background: black;
            color: white;
            
            td {
                font-weight: bold !important;
            }
        }

        #request-edit {
            td {
                font-weight: 400;              

                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                }
            }
        }

        .vrs-status-label {
            color: #616264; 
            display: inline-block;
            font-weight: bold;
            padding-top: 2px;
        }
    
        .vrs-status {
            line-height: .3;
            margin-top: -2px;
            padding: 8px 5px 8px 5px;
            text-transform: uppercase;
            height: 19px;
            vertical-align: middle;
        
            &.cancelled {
                background-color: #616264;
            }
            &.denied {
                background-color: $danger;
            }
            &.new {
                background-color: #2C5697;
            }
            &.submitted {
                background-color: $warning;
            }
            &.approvalinprocess {
                background-color: $info;
            }
            &.approved {
                background-color: #6db444;
            }
        }
    }
}

#overlap-list {
    tr {
        td, th {
            padding: .5rem .25rem;
        }

        td {
            vertical-align: middle;

            .user-icon {
                max-height: 25px;
            }

            .valign {

                @media screen and (min-width: $breakpoint-xs) {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    } 
}

#authorization-list {
    tr {
        &.ng-dirty {
            border-left: 4px solid $warning;
        }
        th {
            padding: .5rem;

            &#name-column {
                width: 35%;
            }
        }
        td {
            padding: 0 .5rem .5rem .5rem;
        }
    }
}

#employee-search-results-wrapper {
    min-height: 150px;
    overflow-y: auto;

    #employee-search-results {
        width: 100%;
    
        thead,tbody,tr,td,th {
            display:block;
        }
        
        tbody {
            height: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;

            tr:first-child {
                td {
                    border-top: none;
                }
            }
        }
        

        tr {
            cursor: pointer;
            clear: both;

            &:after {
                content: ' ';
                display: block;
                visibility: hidden;
                clear: both;
            }
    
            td,
            th {
                float:left;
                font-size: .8rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }

            th {
                padding-left: 0px;
                padding-right: 0px;
            }
    
            &.active {
                background-color: lighten($success, 30%);
            }
        }
    }

}