<div [attr.id]="modalContent.modalID">
  <div class="modal-header px-3" *ngIf="modalContent.modalTitle">
    <h5 class="modal-title m-0">
      {{modalContent.modalTitle}}
      <div class="subhead" *ngIf="modalContent.modalSubTitle">
          <small class="text-muted">{{modalContent.modalSubTitle}}</small>
      </div>
    </h5>
    <button type="button" 
        class="close"
        (click)="cancelModal()"
        *ngIf="modalContent.showCloseButton">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="py-3 modal-body">
    <div class="row" id="modal-message" *ngIf="modalContent.messageText">
      <div class="col-12" [innerHTML]="messageText"></div>
    </div>
    <div class="row" id="modal-input" *ngIf="modalContent.selectionID">
        <div class="col-12">
          <div class="md-form">
            <label for="{{modalContent.selectionID}}">{{modalContent.inputLabel}}</label>
            <select class="mdb-select"
                id="{{modalContent.selectionID}}"
                >
                <option value="">{{modalContent.selectionPlaceHolderText}}</option>
                <option *ngFor="let selectionChoice of modalContent.selectionChoices" [value]="selectionChoice.choiceValue">{{selectionChoice.choiceText}}</option>
              </select>
            <div class="invalid-feedback">
              Selection Required
            </div>
          </div>
        </div>
      </div>
    <div class="row" id="modal-input" *ngIf="modalContent.inputId">
      <div class="col-12">
        <div class="md-form">
          <input type="text" class="form-control" id="{{modalContent.inputId}}" [attr.maxlength]="modalContent.inputMaxLength" />
          <label for="{{modalContent.inputId}}">{{modalContent.inputLabel}}</label>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="modal-textarea" *ngIf="modalContent.textareaId">
      <div class="col-12">
        <div class="md-form">
          <textarea type="text" class="form-control md-textarea" id="{{modalContent.textareaId}}" maxlength="254"></textarea>
          <label for="{{modalContent.textareaId}}">{{modalContent.textareaLabel}}</label>
          <div class="invalid-feedback">
            Required
            <span
              *ngIf="(modalContent.textareaMinLength > 1)">
              - Minimum {{modalContent.textareaMinLength}} characters
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer px-0">
    <div class="float-right">
      <button type="button" 
      *ngIf="!modalContent.hideCancelButton"
      class="btn btn-link-secondary" 
      (click)="cancelModal()"
      >{{modalContent.cancelBtnText}}</button>

      <button type="button" 
      *ngIf="modalContent.altBtnText"
      class="btn btn-default"
      (click)="altModalFunction()"
      >{{modalContent.altBtnText}}</button>

      <button type="button"
      *ngIf="!modalContent.hideConfirmButton" 
      class="btn btn-primary"
      (click)="confirmModal()" 
      >{{modalContent.confirmBtnText}}</button>
    </div>
  </div>
</div>
