<header>
    <div id='sidebar' class="side-nav fixed" >
        <div class="nav-container">
            <div class="py-3 user-menu">
                <a class="dropdown-toggle waves-effect waves-light" id="user-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="http://my.harris.com/PeopleFinder/employeePics/{{userInfo?.EMPLID}}.jpg" class="img-fluid rounded-circle z-depth-0 mr-2"> {{userInfo?.FullNamePrintable}}
                </a>
                <div class="dropdown-menu dropdown-menu-right p-0 user-menu-dropdown" aria-labelledby="user-account">
                    <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i> View Profile</a>
                    <ul class="list-group">
                        <li class="list-group-item">Employee ID: {{userInfo?.EMPLID}}</li>
                        <li class="list-group-item">Department: {{userInfo?.BusinessUnit}}</li>
                        <!-- <li class="list-group-item">Workgroup: {{userInfo?.WORKGROUP}}</li>
                        <li class="list-group-item">Schedule: {{userInfo?.SCHEDULE}}</li> -->
                    </ul>                
                </div>
            </div>
            
            <ul class="nav flex-column">
                <!-- DBG: Select current page item, add class "active" -->
                <li *ngFor="let n of menuList" class="nav-item border-top border-light" aria-expanded="true"><a class="nav-link" [routerLink]="[n.path]"><i class="fa {{n.icon}} left-icon mt-0"></i>{{n.name}}</a>
                        <ul class="nav flex-column">
                            <li class="nav-item border-top border-light" *ngFor="let child of n.subMenu" ngif="child.name"><a class="nav-link" [routerLink]="[child.path]">{{child.name}}</a></li>
                        </ul>
                </li>
            </ul>
        </div>
        <div class="harris-logo-wrapper">
            <img src="assets/harris-logo.png" class="img-fluid flex-center">
        </div>
    </div>
    <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <!-- Sidebar Collapse -->
        <div class="float-left">
            <a href="#" id="sidebarCollapse" data-activates="sidebar" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <span class="h5 m-0 pl-3">{{pageTitle}}</span>
        <!--
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <DBG: Wire up badge to notification Number >
                <a class="nav-link waves-effect waves-light" id="app-alerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-bell-o mx-0"></i><span class="badge badge-primary badge-pill red">1</span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alerts">
                    <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        -->
    </nav>
</header>
<main class="m-0 pt-0">
    <div class="wrapper">
        <div id="content" class="container-fluid p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>