#ess-error-message-wrapper {
    color: white;
    background: $danger;
    padding: .5rem 2rem;
}

#current-name {
    @media screen and (max-width: $breakpoint-md) {
        border: none !important;
    }
}

.ess-section {
    margin-bottom: 2rem;
}

.section-info,
.pending-changes {
    display: none;
    visibility: hidden;
}

#section-info-modal .modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

#employee-locator-form {
    .mdb-select {
        width: calc(100% - 15px);

        .dropdown-content {
            li.disabled {
                display: none;
            }
        }
    }

    #Room {
        max-width: 100px;
    }
}
