#ess-error-message-wrapper {
    color: white;
    background: $danger;
    padding: .5rem 2rem;
}

#current-name {
    @media screen and (max-width: $breakpoint-md) {
        border: none !important;
    }
}

.ess-section {
    margin-bottom: 2rem;

    &#phone-numbers {
        .btn .fa {
            color: inherit !important;
        }
    }
}

.section-info,
.pending-changes {
    display: none;
    visibility: hidden;
}

#section-info-modal .modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

#employee-locator-form,
#phone-number-form,
#mailing-address-form {
    .mdb-select {
        width: calc(100% - 15px);

        .caret {
            background: transparent;
        }
        
        .search-wrap input {
            width: 100%;
        }
    }

    #Room {
        max-width: 100px;
    }
}

#employee-locator-form {
    .mdb-select {
        .dropdown-content {
            li.disabled {
                display: none;
            }
        }
    }
}

#phone-number-form {
    table {
        td {
            padding: .2rem;

            .md-form {
                margin-top: 0;

                &.form-check {
                    text-align: center;

                    label {
                        left: -13px;
                        padding-left: 15px;
                        top: 0;
                    }
                }
            }
        }
    }
}

.compared-field {
    margin-bottom: 1rem;
    text-align: center;

    .diff {
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        padding: .5rem;
        position: relative;

        .staged-value {
            color: $info;
        }
    }
}
